<div class="position-relative" [ngClass]="{'dvh-100 overflow-hidden':loadingData()!='loaded'}">
&nbsp;
    <div class="d-flex flex-column justify-content-center align-items-center position-absolute bg-custom z-2 w-100"
        style="transition: height 0.3s" [ngStyle]="{'height': loadingData()=='loaded'? '0dvh' : '100dvh' }">
        @if(loadingData()=='failed'){
        <div>No Posts Yet</div>
        <div class="text-x-small opacity-75">Stay tuned</div>
        }
        @else if(loadingData()=='loading'){
        <div class="loader" [ngStyle]="{'--loaderColor':'var(--font-icon-bg-colour)'}"></div>
        }
    </div>

    <div class="container-xxl" [ngStyle]="{'margin-top': stateService.navHeight()+'px'}">
        <div class="row g-2 mb-1">

            @for(column of data(); track $index) {
                <div class="col-lg-3 col-md-4 col-6">
                    @for (item of column; track $index) {
                        <div class="ratio mb-2" [style]="'aspect-ratio:'+ item.width/item.height">
                            <div class="placeholder-glow">
                                <div class="placeholder bg-custom-shade h-100 w-100 rounded-3"></div>
                            </div>
                            <img [src]="item.url" class="img-fluid rounded-3 glideUp" loading="lazy"
                                (click)="openCollectionItem(item.identifier)" (load)="onImgLoad($event)" />
                        </div>
                    }
                </div>                
            }

        </div>
    </div>

</div>